.Card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.Card-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-gray-light);
    margin-bottom: 20px;
    margin-top: 8px;
}

.Card-title span {
    font-size: 28px;
    color: var(--text-gray);
    margin-right: 8px;
}

.Card-box {
    display: flex;
    padding: 20px 0;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.Card-box::-webkit-scrollbar {
    display: none;
}

.Card-content {
    width: 400px;
    height: 500px;
    background-color: var(--white);
    border-radius: 28px;
    padding: 28px;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    will-change: transform;
    flex-shrink: 0;
}

.Card-content:hover {
    animation: zoom 0.5s ease-in-out;
    will-change: transform;
    transform: scale(1.03);
}

/* .Card-content:first-child {
    background-color: var(--black);
} */

.Card-content-title-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Card-content-title-link a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.Card-content-title-link a img {
    width: 400px;
    height: 500px;
    object-fit: contain;
    margin-top: 40px;
}

.Card-content-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Card-content-title-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.Card-content-title-header {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}

.Card-content-title-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.Card-content-title-price {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}
