.container_list_file {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.side_bar {
    width: 345px;
    max-width: 345px;
    height: 100%;
    background-color: var(--white-blue);
}

.main_content {
    width: calc(100vw - 345px);
    
    background-color: rgb(24, 92, 86);
}

.side_bar_header {
    max-width: 345px;
    min-height: 120px;
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.side_bar-header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.side_bar-header_logo p {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-gray);
}

.side_bar-menu {

}

.icon_hamburger-menu {
    background-color: transparent;
}

.side_bar_body {
    background-color: red;
}

.side_bar_footer {

}
