.main-button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: .5em 1.5em;
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-size: 50%;
}

.main-button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.main-button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.main-button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.main-button:hover .arrow {
  background: var(--secondary-color);
}

.main-button:hover .arrow:before {
  right: 0;
}

.Btn-logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 43px;
  height: 43px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding-top: 4px;
  margin-top: 8px;
}

/* plus sign */
.sign-logout {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-logout svg {
  width: 17px;
}

.sign-logout svg path {
  fill: white;
}

/* text */
.text-logout {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn-logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn-logout:hover .sign-logout {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn-logout:hover .text-logout {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

/* button click effect*/
.Btn-logout:active {
  transform: translate(2px, 2px);
}