.BannerCardSection-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 806px;
    height: 684px;
    background-color: var(--background-white);
    border-radius: 32px;

    padding: 60px 0 0 0;
}

.BannerCardSection-link {

}

.main-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-link a {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 10;
}