.BannerCardSection-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 806px;
    height: 684px;
    background-color: var(--white);
    border-radius: 32px;

    padding: 60px 0 0 0;
}

.BannerCardSection-link {

}

.main-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-link a {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.BannerCardSection-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.BannerCardSection-width-480 {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
}

.BannerCardSection-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.BannerCardSection-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-gray);
    text-align: center;
}

.BannerCardSection-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BannerCardSection-link a {
    display: flex;
    flex-direction: column-reverse;

    color: var(--text-blue);
}

.BannerCardSection-img {
    height: 380px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 20px;
}