.header{
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
    color: var(--text-gray);
    width: 100vw;
    
    background-color: var(--background-black);

    font-size: 14px;
}

.header-menu {
    display: flex;
    gap: 20px;
}

.header-menu_items {
    min-width: 40px;
    font-size: 14px;

    opacity: 0.7;

    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.header-menu_items:hover, .user-login:hover {
    opacity: 1;
    cursor: pointer;
}

.user-login {
    display: flex;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}