

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-blue: #F0F4F8;
  --text-gray: #111827;
  --background-gray: rgba(22, 22, 23, .8);
  --background-dark-car: #E0E0E0;
  --background-light-car: #1E1E1E;
  --background-black: #1d1d1f;
  --background-white: #f5f5f7;

  margin: 0;
  padding: 0; 
}

a {
  font-weight: 500;
  color: var(--white-blue);
  text-decoration: inherit;
}

a:hover {
  opacity: 1;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: transparent;
  border: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-gray);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes down-to-up {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

