* {
  box-sizing: border-box;
}

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-blue: #F0F4F8;
  --white: #ffffff;
  --black: #000000;
  --text-gray: rgb(17, 24, 39);
  --text-gray-light: #6e6e73;
  --text-blue: #06c;
  --background-gray: rgba(22, 22, 23, .8);
  --background-dark-car: #E0E0E0;
  --background-light-car: #1E1E1E;
  --background-black: #1d1d1f;
  --background-white: #f5f5f7;

  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--white-blue);
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em !important;
  line-height: 1.1;
}

button {
  background-color: transparent;
  border: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 14px !important;
  font-weight: 500;
  color: var(--text-gray);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes down-to-up {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
    transition: all 10 ease-in-out;
    will-change: transform;
    visibility: hidden;
  }
}

.animation-zoom {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.animation-zoom:hover {
  transform: translateZ(0) scale(1.03);
}

.col-1617 {
  max-width: 1617px;
  width: 100%;
}

.col-1658 {
  max-width: 1658px;
  width: 100%;
}

.col-980 {
  max-width: 980px;
  width: 100%;
}

.text-font-14 {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: var(--text-gray) !important;
  text-transform: uppercase !important;
}

.h2-title {
  font-size: 56px !important;
  font-weight: 600;
}

.text-font-28 {
  font-size: 28px !important;
  font-weight: 600;
}

.text-font-17 {
  font-size: 17px !important;
  font-weight: 600;
  color: var(--text-gray);
}

.header-line {
  font-size: 56px !important;
  font-weight: 600;
  color: var(--text-gray);
}